@import "layout/normalize";

//config

@import "config/_variables";
@import "config/_mixins";

// base
@import "layout/_font";
@import "layout/_base";
@import "layout/_adjustment";

//sections
@import "sections/intro";
@import "sections/nav";
@import "sections/qreeting";
@import "sections/best";
@import "sections/reviews";



.navigation{
    position: fixed;
    left: 1159px;
    top: 97px;
}
.navigation__item{
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 7px;
}
.navigation__item_active{
    width: 16px;
    height: 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
}
.navigation__link{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    display: inline-block;
    margin-bottom: 6px;
}