.qreeting__container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.qreeting__column{
    flex: 1;
}
.qreeting__column__right{
    margin-top: 50px;
}
.qreeting__column__left{
    margin-left: 12px;
}
.qreeting__title_type_orange{
    font-size: 72px;
    font-family: Gagalin;
    color: rgb(249, 180, 59);
    line-height: 1.181;
}
.qreeting__title_type_white{
    font-family: Lifehack;
    font-size: 65px;
    color: rgb(255, 255, 255);
    line-height: 1;
    font-weight: 500;
}
