.team{
    background-image: url(/img/bg/bg-team.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 650px;
}
.team__content{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100%;
}
.team__content_left{
    width: 50%;
    height: 100%;
}
.team__content_right{
    width: 50%;
    height: 100%;
}
.team-mask{
    background-color: rgba(57, 59, 60, .9);
    height: 100%;
}
.team__desc{
    width: 380px;
    margin-left: 95px;
}
.team__title{
    font-size: 72px;
    font-family: "Gagalin";
    color: rgb(249, 180, 59);
    line-height: 1;
    padding-top: 110px;
    margin-bottom: 55px;
}

.accordeon__item{
    margin-bottom: 38px;
}
.team-member__name{
    font-size: 14px;
    font-family: "Gagalin";
    color: rgb(255, 255, 255);
    margin-left: 18px;
}
.team-member__name_active{
    color: rgb(249, 180, 59);
}
.triangle{
    width: 9px;
    height: 9px;
    border-top: 6px solid rgb(249, 180, 59);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    display: inline-block;
    margin-right: 9px;
}
.triangle_active{
    transform: rotate(180deg);
}
.team-member__info{
    display: none;
}
.team-member__info_active{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 20px;
}
.team-member__pic{
    margin-left: 35px;
}
.team-member__image{
    margin: 0;
    padding: 0;
}
.team-member__desc{
    width: 219px;
    margin-left: 20px;
}
.team-member__position{
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.position__desc{
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    font-weight: 300;
}



