.btn{
    padding: rem(11px) rem(20px);
    text-transform: uppercase;
    font-size: rem(13px);
    color: rgb(255, 255, 255);
    line-height: 1;
    background: #e45028;
    border-radius: rem(5px);
    display: inline-block;
    max-width: rem(120px);
    text-align: center;
}
.btn_bg_color_grey{
    background: rgb(47, 50, 52);
    &:hover{
        background: rgb(31, 33, 34);
    }
}
.go-down-btn{
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    border-top: rem(2px) solid rgb(255, 255, 255);
    border-right: rem(2px) solid rgb(255, 255, 255);
    background: transparent;
    transform: rotate(135deg);
    position: absolute;
    bottom: rem(40px);
    left: 50%;
    margin-left: rem(-10px);
    border-radius: rem(3px);
    @include tablets{
        bottom: rem(60px);
    }
}