.carousel{
    background: linear-gradient(90deg,#f3a43a, #f19d39);
    position: relative;
}

//btns
 
.carousel-next,.carousel-prev{
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    border-top: rem(2px) solid rgb(255, 255, 255);
    border-right: rem(2px) solid rgb(255, 255, 255);
    background: transparent;
    transform: rotate(135deg);
    position: absolute;
    border-radius: rem(3px);
    top: 50%;
    margin-top: rem(-10px);
}
.carousel-next{
    right: 95%;
    transform: rotate(225deg);
}
.carousel-prev{
    left: 95%;
    transform: rotate(45deg);
}
// composition
.composition{
    width: rem(90px);
    height: rem(90px);
    border-radius: rem(5px);
    background: rgb(240, 140, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-bottom: rem(-40px);
    &:hover{
        .composition-hover{
            display: flex;
        }
    }
}
.icon-burger{
    width: rem(50px);
    height: rem(50px);
    fill: rgb(255, 255, 255);
}
.composition__title{
    color: rgb(255, 255, 255);
    font-size: rem(14px);
    font-family: 'Gagalin';
    text-transform: uppercase;
}
