.icon-composition{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3%;
    bottom: 94%;
    align-items: center;
    justify-content: center;
    background: rgb(240, 140, 51);
    border-radius: rem(5px);
    cursor: pointer;
    width: rem(85px);
    height: rem(85px);
    @include tablets{
        top: 2%;
        left: 2%;
    }
    @include phones{
        width: rem(60px);
        height: rem(60px);
    }
}
.icon-carousel-burger{
    width: rem(45px);
    height: rem(45px);
    display: inline-block;
    fill: rgb(255, 255, 255);
    @include phones{
        width: rem(40px);
        height: rem(40px);
    }
    
}
.icon-composition-title{
    color: rgb(255, 255, 255);
    font-family: 'Gagalin';
    font-size: rem(14px);
}
.icon-kal{
    position: absolute;
    left: 3%;
    bottom: -10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: rem(70px);
    align-items: center;
    @include tablets{
        top: 2%;
        right: -90%;
    }
    @include phones{
        right: -80%;
    }
}
.icon-carousel-kkal{
    width: rem(50px);
    height: rem(50px);
    fill: rgba(255, 255, 255, 0.502);
}
.icon-kal__num,.icon-kal__kkal{
    
    font-family: 'Gagalin';
    color: rgba(255, 255, 255, 0.502);
}
.icon-kal__num{
    top: 50%;
    font-size: rem(18px);
    position: absolute;
    margin-top: -16px;
}
.icon-kal__kkal{
    font-size: rem(14px);
}



