.carousel{
    background: linear-gradient(90deg,#f3a43a, #f19d39);
    position: relative;
}

//btns
 
.carousel-next,.carousel-prev{
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    border-top: rem(2px) solid rgb(255, 255, 255);
    border-right: rem(2px) solid rgb(255, 255, 255);
    background: transparent;
    transform: rotate(135deg);
    position: absolute;
    border-radius: rem(3px);
    top: 50%;
    margin-top: rem(-10px);
}
.carousel-next{
    right: 90%;
    transform: rotate(225deg);
}
.carousel-prev{
    left: 90%;
    transform: rotate(45deg);
}