.carousel__conatainer{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-list{
    overflow: hidden;
    display: flex;
}
.carousel__item{
    display: flex;
    align-items: center;
    width: rem(940px);
    height: rem(382px);
    @include tablets{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}
.carousel__image{
    width: 50%;
    height: 90%;
    @include tablets{
        width: 70%;
        margin-top: rem(10px);
    }
    @include phones{
        margin-top: 0;
    }
    
}
.carousel__pic{
    width: 98%;
}
.carousel__desc{
    width: 50%;
    @include tablets{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        @include tablets{
            width: 70%;
        }
        @include phones{
            width: 90%;
        }
    }
}
.carousel__text{
    font-size: rem(14px);
    color: rgb(255, 255, 255);
    margin-top: rem(50px);
    @include tablets{
        width: 80%;
        margin-top: rem(15px);
    }
    @include phones{
        width: 95%;
        margin-top: 0;
    }
}
.carousel__desc__bottom{
    display: flex;
    align-items: flex-end;
    margin-top: rem(40px);
    @include tablets{
        margin-top: rem(15px);
    }
    @include phones{
        margin-top: 0;
    }
}
.carousel__price{
    display: flex;
    font-family: "Gagalin";
    color: rgb(227, 80, 40);
    line-height: 1;
    align-items: flex-end;
    margin-right: rem(30px);
}
.carousel__price_num{
    font-size: rem(72px);
    
}
.carousel__price_rub{
    font-size: rem(30px);
}

.carousel__btn{
    padding: rem(11px) rem(20px);
    text-transform: uppercase;
    font-size: rem(13px);
    color: rgb(255, 255, 255);
    line-height: 1;
    background: #e45028;
    border-radius: rem(5px);
    display: inline-block;
    max-width: rem(120px);
    text-align: center;
    max-height: rem(35px);
    &:hover{
        background: rgb(193, 64, 30);
    }
}