.carousel-container{
    position: relative;
}
.carousel__icon__top,.carousel__icon__bottom{
    position: absolute;
    display: inline-block;
    @include tablets{
        top: 1%;
    }
}
.carousel__icon__top{
    left: 0;
    top: 10%;
    border-radius: rem(5px);
    background: #f08c33;
    padding: 2% 2% 1% 2%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel__icon__bottom{
    left: 0;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablets{
        top: 10%;
        left: 90%;
    }
}
.carousel-icon{
    fill: rgb(255, 255, 255);
}
.carousel-icon__burger{
    width: rem(50px);
    height: rem(40px);
    @include tablets{
        width: rem(40px);
        height: rem(35px);
    }
}
.carousel-icon__kkal{
    width: rem(60px);
    height: rem(60px);
    @include tablets{
        width: rem(50px);
        height: rem(50px);
    }
}
.carousel__icon__top__title,.carousel__icon__bottom__title{
    color: rgb(255, 255, 255);
    font-family: 'Gagalin';
}
.carousel__icon__bottom__title{
    position: relative;
}
.carousel__icon__bottom_num{
    position: absolute;
    bottom: 90%;
    left: 27%;
    color: rgb(255, 255, 255);
    font-family: 'Gagalin';
}