.composition{
    &:hover{
        .composition-hover{
            display: flex;
            opacity: 1;
        }
    }
}
.composition-hover{
    position: absolute;
    display: none;
    top: 0;
    left: 100%;
    background: rgba(255, 255, 255, .9);
    padding: rem(15px) rem(20px);
    border-radius: rem(5px);
    width: rem(270px);
    opacity: 0;
    @include phones{
        width: rem(250px);
    }
}
.composition-hover-list{
    width: 100%;
}
.composition-hover__item{
    display: flex;
    align-items: center;
    margin-bottom: rem(15px);
    &:last-child{
        margin-bottom: 0;
    }
}
.composition-hover__title{
    font-size: rem(14px);
    color: rgb(47, 50, 52);
    font-weight: 500;
    margin-left: rem(25px);
}
.composition-hover__weight{
    margin-left: auto;
    font-size: rem(14px);
    color: rgb(47, 50, 52);
}

//icons

.composition-icon{
    width: rem(30px);
    height: rem(30px);
}
.composition-icon_beef{
    fill: rgb(226, 80, 40);
}
.composition-icon_buns{
    fill: rgb(248, 180, 58);
}
.composition-icon_salad{
    fill: rgb(138, 192, 62);
}
.composition-icon_sauce{
    fill: rgb(226, 80, 40);
}
.composition-icon_cucumber{
    fill: rgb(138, 192, 62);
}
.composition-icon_cheese{
    fill: rgb(248, 180, 58);
}