.ham__btn{
    margin-left: rem(25px);
    display: none;
    z-index: 2;
    @include tablets{
        display: block;
    }
}
.ham__btn-decor{
    width: rem(30px);
    height: rem(6px);
    border-radius: 3px;
    margin-bottom: rem(5px);
    background: rgb(255, 255, 255);
    &:last-child{
        margin-bottom: 0;
    }
}
.ham__btn-decor_display_none{
    display: none;
}
.ham__btn-decor_transform_rotate_1{
    margin-bottom: 0;
    transform: rotate(45deg);
    position: absolute;
}
.ham__btn-decor_transform_rotate_2{
    margin-bottom: 0;
    transform: rotate(135deg);
}