.hero{
    background: url(../img/bg/hero_bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    .section__title{
        @include tablets{
            font-size: rem(60px);
            text-align: center;
        }
        @include phones{
            font-size: rem(50px);
        }
    }
}
.hero__container{
    justify-content: flex-start;
}
.hero__container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
}
