.map{
    background: url(../img/content/map.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}
.map__image{
    position: absolute;
    width: 100%;
    height: 100%;
}