.navigation{
    position: fixed;
    left: rem(1050px);
    top: rem(97px);
    @include tablets{
        display: none;
    }
}
.navigation__item{
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid transparent;
    border-radius: 50%;
    text-align: center;
    margin-bottom: rem(7px);
}
.navigation__item_active{
    width: rem(16px);
    height: rem(16px);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
}
.navigation__link{
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: rgb(255, 255, 255);
    display: inline-block;
    margin-bottom: rem(6px);
}